extends layout

block content

  header
    .headerContainer
      img(src='https://png.icons8.com/ios/1600/money.png')
      button.button Log out
  img(src='https://www.bitcoin.com/img/btc-question-mark.png')
  #menu.coinsMenu
    span.title(onclick='changeClass()') COIN LIST
    ul
      li(onclick='getIdBitcoin()') Bitcoin
      li(onclick='getIdEtherium()') Etherium
      li(onclick='getIdLitecoin()') Litecoin
      li(onclick='getIdAuroracoin()') Auroracoin
  footer
      p made by Y.Makarovich
  script(type='text/javascript' src='/javascripts/script_mainmenu.js')
  script(type='text/javascript' src='api.coingecko.com/api/v3')
