html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    meta(http-equiv='Content-Type' content='text/html; charset = utf-8')
    link(rel='stylesheet' type='text/css' href='./stylesheets/style.css')
    script(type='text/javascript' src='./public/javascripts/script_mainmenu.js')
    script(type='text/javascript' src='api.coingecko.com/api/v3')

  body
    block content
