extends layout

block content

  .loginPage
    .loginContainer
      form(action='users/login', method= 'POST', enctype='multipart/form-data')
        input(type='text name='login')
        | Login
        input(type='password', name='password')
        | Password
        input(type='submit', value='logon>>')
        | Submit
