body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header
{
  height: 10%;
}
footer
{
  background-color: #00a8f3;
  height: 10%;
}
.headerContainer
{
  background-color: #00a8f3;
  height: 100%;
  width: 100%;
  align-items: center;

}
.headerContainer img
{
  position: absolute;
  height: 7%;
  width: 4%;
  margin-left: 2%;
  margin-top: 1%;
}

.button
{
margin-left: 95%;
margin-top: 1.5%;
border: 2px outset indigo;
}

body img
{
  height: 77.5%;
  margin-left: 77.5%;
}
.coinsMenu
{
  font-size: 150%;
  border: 1px solid red;
  position: absolute;
  top: 20%;
}
.coinsMenu .title
{
  font-size: 300%;
  font-family: Comic Sans MS;
  cursor: pointer;
}
.coinsMenu ul
{
  font-family: Comic Sans MS;
  display: none;
  list-style: none;
}
.coinsMenu .title::before {
  content: '▶ ';
  font-size: 50%;
  color: green;
}
.coinsMenu.open ul {
  display: block;
}
